* {
    font-family: cursive;
}

.textocentral {
    color: orange;
    font-size: 113%;
    text-shadow: 1px 1px white;
    max-width: 30%;
    max-height: 8%;
    border-radius: 34px;
    background-image: url(asdasd)
}

.textocentral:hover {
    background-color: #000;
    box-shadow: 3px 3px 3px 3px;
}

.columnas {
    column-count: 3;
    text-align: center;
    color: orange;
    column-rule-color: black;
    column-rule-width: 2px;
    column-rule-style: solid;
}

.columnas2 {
    column-count: 3;
    text-align: center;
    color: white;
    column-rule-color: black;
    column-rule-width: 2px;
    column-rule-style: solid;
    line-height: 160%;
}

.main {
    background: #000;
}