* {
	font-family: "Oswal", sans-serif;

}

#ImagenFondo {
	background-image: url("../Imagenes/FondoInicio.jpg");
	background-image: no-repeat;
	background-image: fixed;
	background-color: black;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#Formulario{
	margin-top: 1%;
}

#nav:hover{
	background-color: #cb4435;
}

footer{

	bottom: 0;  
}

#nav{
	background-color: #cb44356e;
}

#ItemMenu a{
	color: white;
	font-weight: bold;
	font-family:'Times New Roman', Times, serif
}

#ItemMenu a:hover{
	color: yellow;
}

.RedesSociales li{
	display: inline;
	padding-right: 0.9em;
	
}

.RedesSociales{
	text-align: center;
	margin-top: 30px;
}




