* {
	font-family: "Oswal", sans-serif;
}

body{
	height: 100%;
}

#ImagenFondo {
	background-image: url("../Imagenes/FondoInicio.jpg");
	background-image: no-repeat;
	background-image: fixed;
	background-color: black;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#Formulario{
	margin-top: 5%;
}

#nav:hover{
	background-color: #cb4435;
}




#nav{
	background-color: #cb44356e;
}

#ItemMenu a{
	color: white;
	font-weight: bold;
	font-family:'Times New Roman', Times, serif
}

#ItemMenu a:hover{
	color: yellow;
}

.RedesSociales li{
	display: inline;
	padding-right: 0.9em;
	
}

.RedesSociales{
	text-align: center;
	margin-top: 30px;
}

#Registrate{
	margin-top: 5%;
}

#Ingresar{
	margin-top: 5%;
}

#Olvidaste{
	text-align: center;
	color: red;
}

#Footer{
	flex-direction: row;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.548);
}

#Copyright{
	background-color: rgba(0, 0, 0, 0.548);
	color: white;
}

#Column{
	color: white;
	padding: 10px;
	
}

#Column li{
	margin-left: 10px;
	text-align: left;
	list-style: none;
	padding-top: 20px;
}


