* {
	font-family: "Oswal", sans-serif;
}

#BotonPagar{
	background-color: rgb(50, 177, 118);
	color: white;
}
#BotonPagar:hover{
	background-color: rgb(25, 102, 66);
	color: white;
}


.pedidos tr {
	text-align: center;
}


.operaciones {
	background-color: #e9e9e9;
	padding: 12px;
	text-align: center;
}

.operaciones input {
	width: 100%;
}

.correcto {
	background-color: #79B849;
	color: white;
}

.incorrecto {
	background-color: #D82B2B;
	color: white;
}


#ColumDate{
    min-width: 90px;
	font-size: 12px;
}


#tableFacturacion{
	font-size: 15px;

}

#tableFacturacion tr td{
	font-size: 15px;
	vertical-align:middle;
	padding: 5px;
}



#Card h5{
    font-size: 12px;
    color: rgb(168, 168, 168);
    margin: 1px;
    font-weight: bold;
}

#Card button{
    background-color: white;
    width: 10px;
}
#Card button:hover{
    background-color: rgba(201, 201, 201, 0.425);

}

#Card{
    margin-top: 4px;
    margin-left: 5px;
}


#Card button{
    border: 0;
    width: 100px;
}


#MesasFere{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
	margin-top: 5px;
  
}


#NumeroDeMesaCardBody{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
}

#InformacionMesaOcupada {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:rgb(50, 177, 118); 
}

#InformacionMesaOcupada h5{
    color: white;
    margin: 1;
    font-size: 10px;
}

#BarraZonas{
    background-color:  rgb(114, 114, 114);
    margin: 0;
    padding: 0;
}

#BotonImpreFactura{
	padding: 0;
	font-size: 10px;
}


#BarraZonas p{
    font-weight: bold;
    margin: 4px;
    color: rgb(255, 255, 255);
}
