* {
	font-family: "Oswal", sans-serif;

}

.nav{
    background-color: rgb(26, 29, 224);
    color: white;
}
.nav p{
    font-weight: bold;
    font-size: 160%;
    margin: 0;
    padding: 0;
}

#ZonasMesas{
    margin-top: 15px;
}

#BarraZonas{
    background-color:  rgb(75, 75, 75);
    margin: 0;
}

#BarraZonas p{
    font-weight: bold;
    margin: 0;
    color: rgb(255, 255, 255);
}

#Mesas{
    margin-top: 10px;
}

#BotonMesa{
    margin-top: 5px;
    margin: 3px;
}