* {
	font-family: "Oswal", sans-serif;

}

.nav{
    background-color: rgb(26, 29, 224);
    color: white;
}
.nav p{
    font-weight: bold;
    font-size: 160%;
    margin: 0;
    padding: 0;
}

#ZonasMesas{
    margin-top: 15px;
}

#BarraZonas{
    background-color:  rgb(75, 75, 75);
    margin: 0;
}

#BarraZonas p{
    font-weight: bold;
    margin: 0;
    color: rgb(255, 255, 255);
}

#Mesas{
    margin-top: 10px;
}

#BotonMesa{
    margin-top: 5px;
    margin: 3px;
}


#BotonCategoriaProductos{
    margin-top: 10px;
}

#NombreCate2{
    font-size: 100%;
    font-weight: bold;

}

#BotonSalir{
    margin-top: 5px;
}

.nav2{
    background-color: rgb(75, 75, 75);
    color: white;
}

.nav2 p{
    font-weight: bold;
    font-size: 160%;
    margin: 0;
    padding: 0;
}


#NoProduct{
    color: red;
    font-weight: bold;
    
}

#tabla{
    text-align: center;
}

#ColumNombreProduc{
    min-width: 150px;
}
#ColumNombrePrecio{
    min-width: 80px;
}

#ColumNombreCantidad{
    max-width: 50px;
}

#CabeceraPedido{
    margin-top: 0.4em;
}

.tablecss{
    font-size: 12px;
    border: 1px solid rgb(177, 177, 177);
}

.tablecss th, td{

    vertical-align: top;
    border: 1px solid  rgb(177, 177, 177);
    margin: 0;
    border-spacing: 0;
}

